<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src="/js/he.js"></script>
    <script src="/js/htmlparser.js"></script>
    <script>
      let parse = function (str) {
        let result = ''
        try {
          // 使用 he.unescape() 解码得到dom结构的字符串，然后使用HTMLParser过滤
          HTMLParser(he.unescape(str, {strict: true}), {
            // 匹配起始标签
            start: function (tag, attrs, unary) {
              // 过滤标签
              if (tag === 'script' || tag === 'style' || tag === 'link' || tag === 'iframe' || tag === 'frame') return
              result += '<' + tag
              // 过滤属性，类似 onclick、onerror...
                /* for (let i = 0, len = attrs.length; i < len; i++) {
                 result += ' ' + attrs[i].name + '="' + attrs[i].value + '"'
                 } */
              result += (unary ? '/' : '') + '>'
            },
            // 匹配末尾标签
            end: function (tag) {
              result += '</' + tag + '>'
            },
            // 匹配文本
            chars: function (text) {
              result += text
            },
            // 匹配注释
            comment: function (text) {
              result += '<!--' + text + '-->'
            }
          })
          return result
        } catch (e) {
          console.log('e.error')
        } finally {

        }
      }
    </script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><%- xss %></p> <!--innerHTML的功能-->

<textarea name="name" cols="100" rows="15" id="txt">
    <p> what <img src="null" onerror="alert(1)" alt="imgObject"/></p>
    <button type="button" onclick="alert('哈哈')">点我</button>
</textarea>
<br><br>

<button type="button" name="button" id="btn">评论</button>
<button type="button" name="button" id="get">获取评论</button>


<script>
  let btn = document.querySelector('#btn')
  let get = document.querySelector('#get')
  let txt = document.querySelector('#txt')

  let xhr;

  if (window.XMLHttpRequest) {
    xhr = new XMLHttpRequest()
  } else {
    xhr = window.ActiveXObject('Microsoft.XMLHTTP')
  }

  // 发送评论
  btn.addEventListener('click', function () {
    let url = '/setComment?comment=' + txt.value
    xhr.open('GET', url, true)
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log('success')
        } else {
          console.log('error ' + xhr.status)
        }
      }
    }
    xhr.send()
  })

  // 获取评论
  get.addEventListener('click', function () {
    let url = '/getComment'
    xhr.open('GET', url, true)
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          let data = parse(JSON.parse(xhr.responseText).comment)
          let txt = document.createElement('span')
          txt.innerHTML = data
          document.body.appendChild(txt)
        } else {
          console.log('error ' + xhr.status)
        }
      }
    }
    xhr.send()
  })
</script>
</body>
</html>
