<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>
    <%- xss %>
</p>

<textarea name="name" id="" cols="50" rows="15" id="txt"></textarea><br><br>

<button type="button" id="btn">评论</button>
<button type="button" id="get">获取评论</button>

</body>
</html>
