
/* 对文本456456进行绝对定位  */
.d2{
	position: absolute;  /* 脱离文档流，浮于高空之上  */
}

/* 全屏覆盖  */
.all{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #999;
	opacity: 0.3;
}


/* 遮罩层  */
img{
	width: 200px;
}
.container{
	display: inline-block;  /* 行级的块元素，紧紧包裹里面的内容（也就是宽收缩了）  */
	position: relative;
}
.cover{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: red;
	opacity: 0.3;
}

/* 屏幕高度自适应 （九宫格） */
.page{ 
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.list{
	width: 33.3%;
	height: 33.3%;
	float: left;
	background: #999;
	box-sizing: border-box;
	border: white solid 2px;
}

/* 绝对定位实现绝对居中  */
.abscen{
	position:absolute; 
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	width:200px; 
	height:200px; 
	margin: auto;  /* 由于是全屏覆盖，又设置了宽和高，那么此时margin:auto就可以自由分配剩下的空间  */
	background-color: #0CC; 
}

/* fixed效果  */
.content{
	width: 200px;
	height: 200px;  /* 这两百像素的正方形就是正文区域  */
	position: absolute;
	top:50px; /* 作为header */
	bottom: 50px; /* 作为footer */
	left: 50px;  /* 作为aside  */ 
	overflow: auto;
}



