
/* 清除浮动  */
/* IE8以上  */
/* 方法1  */
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
/* 方法2  */
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
/* IE6、IE7  */
.clearfix{
	*zoom: 1;
}

/* 清除浮动实例  */
.box{
	width: 300px;
	border: black solid 1px;
}
.box:after{
	content: '';
	display: block;
	height: 0px;
	overflow: hidden;
	clear: both;
}
.d1{
	width: 200px;
	height: 200px;
	float: left;
	border: red solid 1px;
}

/* 两侧自适应  */
.img1{
	width: 200px;
	margin-right: 10px;
	float: left;
}
.p1{
	display: table-cell; 
	*display: inline-block; 
	width: 2000px; 
	*width: auto;
}
