
/* 拉伸效果（overflow属性不能是visible）  */
.d1{
	width: 100px;
	height: 100px;
	border: red solid 1px;
	resize: both;  /* 水平垂直两边拉，resize拖拽区域的大小是17*17  */
	overflow: hidden;
}

/* 文字溢出...（必须配合width、white-space、overflow使用）  */
.d2{
	border: red solid 1px;
	text-overflow: ellipsis;
	width: 100px; 
	white-space:nowrap;
	overflow: hidden;
}

/* 锚点选项卡  */
.box{
	overflow: hidden;
	width: 100px;
	height: 100px;
}
.list{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #ff5566;
}
a{
	margin: 5px;
}
